{% extends "layout.jinja2" %}

{% block title %}Home{% endblock %}

{% block body %} 
    <body>
    {% for result in results %}
        <div>
            <h2>{{ result.title }}</h2>
            <h1>a href="{{ result.url }}">View Result Page</a></h1>
            <p>{{ result.body }}</p>
            <div>
                <a href="{{ request.route_url('results', id=result.id) }}">Read More</a>
            </div>
        </div>
    {% endfor %}
    </body>
{% endblock %}
