<!DOCTYPE html>
<html lang="en">

<head>
  <title>{% block title %}PySearch{% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta name="author" content="Ben S., Marc F., Sera S.">
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link href="{{ request.static_path('pysearch:static/bootstrap-3.3.7-dist/css/bootstrap2.min.css') }}" rel="stylesheet" />
  <link href="{{ request.static_path('pysearch:static/bootstrap-3.3.7-dist/css/bootstrap-theme.min.css') }}" rel="stylesheet" />
  <link href="{{ request.static_path('pysearch:static/style.css')}}" rel="stylesheet" type="text/css">
</head>

<!--banner-starts-->
{%block nav%}
{%endblock%}
<!--banner-end-->

<!--body-->
{% block body %}
{% endblock %}
<!--body-end-->
<footer id = footer class="container-fluid text-center">
  <p>Pysearch &copy 2017</p>
</footer>

<script
  src="https://code.jquery.com/jquery-3.1.1.min.js"
  integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
  crossorigin="anonymous"></script>

{% block javascript %}
{% endblock %}

</html>

